[user]
	name = mitto nagisa
	email = mitto@mittostar.info
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	preloadindex = true
	fscache = true
[push]
	default = simple
[alias]
	a = add
	ap = add -p
	b = branch
	back = reset HEAD^
	bd = branch -D
	bf = branch -f
	c = commit
	ca = commit --amend
	cb = checkout -b
	cm = commit -m
	co = checkout
	d = diff
	extraline = log --oneline --graph --pretty=format:'%C(Yellow)%h %Cgreen%cd %Cblue%cn %C(magenta)%an %Cred%d %Creset%s' --date local --decorate --stat
	f = fetch
	fa = fetch --all
	g = grep
	gc = grep -C
	gr = grep -r
	graph = log --decorate --graph --oneline --stat
	grc = grep -r -C
	glog = log --graph --pretty=fuller --decorate
	last = log -1 HEAD
	me = !git config --get-regexp user
	oneline = log --oneline --graph --pretty=format:'%C(Yellow)%h %Cgreen%cd %Cblue%cn %Cred%d %Creset%s' --date relative --decorate
	p = pull
	pf = push -f
	r = remote
	ra = remote add
	rb = rebase
	rbi = rebase -i
	rs = remote set-url
	rsp = remote set-url --push
	rr = remote rm
	sh = show
	sa = stash --apply
	sd = diff --staged
	st = status
	stsh = stash
	stsha = stash apply
	unstage = reset HEAD --
[help]
	autocorrect = 1
[color]
	ui = true
[include]
	path = ~/.gitconfig.local
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[diff]
	compactionHeuristic = true
[interactive]
	diffFilter = diff-highlight
